<div class="navbar-container">
  <button
    *ngIf="isAuthenticated"
    [routerLink]="['']"
    routerLinkActive="active"
    [routerLinkActiveOptions]="{ exact: true }">
      HOME
  </button>
  <button
    *ngIf="isAuthenticated"
    [routerLink]="['training']"
    routerLinkActive="active"
    [routerLinkActiveOptions]="{ exact: true }">
      TREINO
  </button>
  <button
  *ngIf="!isAuthenticated"
    [routerLink]="['/login', 'register']"
    routerLinkActive="active"
    [routerLinkActiveOptions]="{ exact: true }">
      REGISTRO
  </button>
  <button
    *ngIf="!isAuthenticated"
    [routerLink]="['/login']"
    routerLinkActive="active"
    [routerLinkActiveOptions]="{ exact: true }">
      LOGIN
  </button>  
  <button
    *ngIf="isAuthenticated"
    (click)="logout()"
    routerLinkActive="active"
    [routerLinkActiveOptions]="{ exact: true }">
      LOGOUT
  </button>
</div>
<div class="content">
  <router-outlet />  
</div>
<div class="footer">
  https://www.naci.dev.br/
</div>
